.team{
    background-color: rgba(173, 173, 173, 0.3);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.cards{
    background-color: #fff;
    border-radius:20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}
.listing{
    position: absolute;
    left: 25px;
    background: rgb(245, 97, 43);
    border-radius:20px;
    padding: 5px 15px;
}
.envl{
    background-color:rgb(9, 98, 9);
    color: #fff;
    border: none;

    padding: 5px 53px;
    border-radius: 5px;
}
.phone{
    background-color: #000;
    color: #fff;
    padding: 1px 15px;
    border-radius: 5px;
}

